*{
    margin: 0;
    box-sizing: border-box;
}
#barra{
    margin-top: 0px;
    background-color: rgb(24, 24, 24);
    height: 70px;

}
#barra{
    display: flex;
    justify-content: space-between;

}

#izquierda img{
    margin: 5px 10px;
    width: 60px;
    border: 1px solid blue;

}

#derecha2{
    display: none;
    background: none;
    border: none;
    font-size: 30px;
   
    
}

#drecha{
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
    list-style: none;
  
}

#drecha li{
    font-size: 20px;
    margin: 0 20px;
    line-height: 70px;

}
.a{
    color: white;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 5px;
}
.a:hover{
    background-color: crimson;
    transition: 0.5s;
}

@media (max-width: 768px){
    #barra{
        background-color: orange;
    }

    #drecha{
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: orange;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        overflow-y: auto;
    }

    #derecha2{
        display: block;
        align-items: center;
        border: 1px solid red;
        width: 70px;    
    }

    
}